DB_CONNECTION_STRING = postgresql://postgres.msbpamoxvfmlv:admin789postgres@aws-1-ap-suth-1.pooler.supabase.com:5432/postgres

GOOGLE_GEMINI_API_KEY = "GOOGLE KEY GEMINI"

PUBLISH_EMBED_NOTE_TOPIC = "embed_note_topic"